{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">   

				<h2>Liste des terrains enregistrés:</h2>

						{% for art in groundList %}

					        <h2>
					            <a href="{{ path('front_office_ground_one',{id:art.id}) }}">{{ art.name }}</a>
			                </h2>
			                
				                <p class="lead">
			                    Sport pratiqué : {% for play in art.sport %}{{ play.name }} {% endfor %}<br>
			                    Région : {{ art.region }}<br>
			                    Ville : {{ art.place }}
				                </p>				                
				                <hr>
				                <img class="img-responsive" src="{{ asset(art.image) }}" alt="Terrain de Sport Robert Debré">
				                <hr>
				                <p>Adresse : {{ art.address }}</p><br>
				                <p>Créé dans la base le : {{ art.dateCreated | date('d-m-Y') }}</p><br>
				                <p>Téléphone : {{ art.phoneNumber }}</p><br>
				                <p>Heures d'ouverture : {{ art.openingHours}}<p><br>
				                <p>Type de jeu : {{ art.mode }}<p><br>
				                <p>Description: {{ art.comment }}<p><br>					           
				                <hr>

			       		{% endfor %}

			</div>
		</div>

	{% endblock %}