{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">   

				<h2>{{ oneGround.name }}</h2>
											             
						<p class="lead">
					    Sport pratiqué : <a href="index.php">{% for play in oneGround.sport %}{{ play.name }}{% endfor %}</a>
					                </p>
					    <p><span class="glyphicon glyphicon-time"> Créé le : {{ oneGround.dateCreated | date('d-m-Y') }}</span></p>
					    <hr>
					    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
					    <hr>
					    <p>Adresse : {{ oneGround.address }} {{ oneGround.place }}</p><br>					    
					    <p>Téléphone : {{ oneGround.phoneNumber }}</p><br>
					    <p>Heures d'ouverture: {{ oneGround.openingHours}}<p><br>
					    <p>Terrain d'accès : {{ oneGround.mode }}<p><br>
					    <p>Commentaire : {{ oneGround.comment }}<p><br>

				                	<hr>

				       	<div class="well">			       		

							<h3>Joueurs rattachés:</h3>
								{% for player in oneGround.userGround %}
									<ul>
										<li><a href="{{ path('front_office_user_one',{id:player.id}) }}">{{ player.username }}</a> pratique le {{ player.favouriteSport }}</li>
									</ul>
								{% endfor %}

						</div>

				        {% for message in app.session.flashbag.get('succes') %}
			       			{{ message }}
			       		{% endfor %}

				       	<div class="well">			       		

	                        {% if (is_granted('ROLE_USER')) %}
	                            <h4>Poster un commentaire</h4>
	                            {{ form(form) }}
	                        {% else %}
	                            <p>Vous souhaitez poster un commentaire ? Connectez-vous !</p>
	                            <a href="{{path('fos_user_security_login')}}"><button>Connection</button></a>
	                        {% endif %}
	                        
	                    </div> 

	                    {% for comment in oneGround.com %}
	                        <div class="media">
	                            <a class="pull-left" href="#">
	                                <img class="media-object" src="http://placehold.it/64x64" alt="">
	                            </a>
	                            <div class="media-body">
	                                <h4 class="media-heading">{{ comment.title }} par {{ comment.author }}
	                                    <small>{{ comment.dateCreated | date('d-m-Y H:i:s') }}</small>
	                                </h4>
	                                {{ comment.content }}
	                            </div>
	                        </div>
	                    {% endfor %}  

			</div>
		</div>

	{% endblock %}