{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">
              		
					<h2> {{ oneTeam.name }} </h2>

						{# Paramétrage du message flash lors de la creation d'un commentaire #}
			            {% for message in app.session.flashbag.get('notice') %}
			            	{{ message }}
			            {% endfor %}

			            {# Message flash lors de la demande d'intégration à une equipe #}
			            {% for messa in app.session.flashbag.get('succes') %}
			            	{{ messa }}
			            {% endfor %}

			            {% for mess in app.session.flashbag.get('disolve') %}
			            	{{ mess }}
			            {% endfor %}

			        	<p class="lead">
			                Sport pratiqué :<a href="{{ path('front_office_team_triBySport',{sportPracticed:oneTeam.sportPracticed}) }}"> {{ oneTeam.sportPracticed }} </a><br>			                		    
			                
			                Equipe créée par : 
			                	{% for admin in oneTeam.admin %}<a href="{{ path('front_office_user_one',{id:admin.id})}}">{{ 	admin.username }}<br>
			                	

					                {% if (app.user.id == admin.id) %}			              
						                	<a href="{{ path('front_office_team_dissolveTeam',{id:oneTeam.id}) }}">Se retirer du poste d'administrateur</a>				               			       
						            {% endif %}

						            {% endfor %}	

						        

			            </p>
			            <p><span class="glyphicon glyphicon-time"></span>{{ oneTeam.dateCreated | date('d-m-Y')}}</p>
			                <hr>
			            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
			                <hr>
			            <p>{{ oneTeam.typeOfGame }}</p><br>
			            <p>{{ oneTeam.habitsOfGame }}</p><br>

			            {% if (is_granted('ROLE_USER')) %}
			            	<a href="{{ path('front_office_team_userAskingTeam',{id:oneTeam.id}) }}">Rejoins l'équipe !</a><br><br>
			            {% else %}
			            	<a href="{{ path('fos_user_security_login') }}">Vous voulez rejoindre cette équipe ? Connectez-vous !</a>Pas encore de compte ? <a href="{{ path('fos_user_registration_register')}}">Créér votre compte :</a>
			            {% endif %}

			            {# {% if(is_granted('ROLE_USER')) and app.user.teamsAdmin is not null %}	
			                  		<a href="{{ path('front_office_invitation_new',{teamTo:tea.id,teamFrom:app.user.teamsAdmin})}}">
			                  	{% endif %} #}

			        <h3>Les joueurs :</h3>
			        				    
			        	<div class="container">
                			<div class="well col-lg-5">

                    			<h3 class="page-header">

                    				{% for user in oneTeam.users %}

                    					<a href="{{ path('front_office_user_one',{id:user.id}) }}">{{ user.username }}</a><br>

                    					Sports pratiqués : 
                    					{% for sport in user.sportPracticed %}
                    							<small>  {{ sport.name }} </small>
                    					{% endfor %}<br>
                    									                      
			                           			                     
                        				<small>AGE : {{ user.age }} ans</small><br>

                        				{% for admin in oneTeam.admin %}
	                    					{% if (app.user and app.user.id == admin.id) %}       					
	                        					<a href="{{ path('front_office_team_user_delete',{idUser:user.id, idTeam:oneTeam.id}) }}">Quitter l'équipe</a>
	                        				{% endif %}
	                        			{% endfor %}
                        				

                        			{% endfor %}
                        			
                    			</h3>

                			</div>
            			</div>

            		<h3>Les demandes d'intégration :</h3>

            			{% for user in oneTeam.askingUsers %}	

            				<a href="{{ path('front_office_user_one',{id:user.id}) }}">{{ user.username }}</a>

            				{% for admin in oneTeam.admin %}
            					{% if (app.user.id == admin.id) %}
            						{# <a href="{{ path('front_office_team_addUser',{idUser:user.id, idTeam:oneTeam.id}) }}"> #}Accepter ce joueur dans l'équipe</a><br>
            					{% endif %}
            				{% endfor %}

            			{% endfor %}

            		<h3>Invitations reçues :</h3>

            			{# {% for invit in oneTeam.invitationsReceivedToTeam %}
            				{{ invit.content }} {{ invit.dateInvit | date('d-m-Y H:i') }} {{ invit.mode }} {{ invit.teamFrom }}{{ invit.place }}

            				{% if (app.user.id == oneTeam.admin.id) %}
            					<a href="{{ path('front_office_invitation_response',{id:invit.id}) }}">Accepter l'invitation !</a> <a href="{{ path('front_office_invitation_denied',{id:invit.id}) }}">Décliner l'invitation</a>
            				{% endif %}

            			{% endfor %} #}

            		{# <h3>Invitations envoyées :</h3>

            			{% for invit in oneTeam.invitationsSentFromTeam %}
            				{{ invit.content }} {{ invit.dateInvit | date('d-m-Y H:i') }} {{ invit.mode }} {{ invit.teamFrom }} {{ invit.place }}
            			{% endfor %}            

            		<h3>Invitations acceptées :</h3>

            			{% for invit in oneTeam.invitationsReceivedToTeam if invit.dateAccepted is not null %}
            				{{ invit.content }} {{ invit.dateInvit | date('d-m-Y H:i') }} {{ invit.mode }} {{ invit.teamFrom }} {{ invit.place }}
            			{% endfor %} #}
			                			            
			            {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                <a class="btn btn-primary" href="{{ path('back_office_team_delete',{id:oneTeam.id}) }}">Suppression team<span class="glyphicon glyphicon-chevron-right"></span></a>
			            {% endif %}	    		             
			                
		                	<hr>			                

		            		{# Contrôle d'acces avec FosUserBundle #}
		            {% if (is_granted('ROLE_USER')) %}

		            	<h3> Laissez un commentaire :</h3>                   			               			
		            	{{ form(form) }}

		            {% else %}

		            	<a href="{{ path('fos_user_security_login')}}">Connectez-vous !</a><br>
		            	<p>Vous souhaitez laisser un commentaire ? <a href="{{ path('fos_user_registration_register')}}">Créez votre compte !</a><br><br>

		            {% endif %}

		        <div class="container">

		        			{# Affichage de la liste des commentaires #}
		        	<h3>Liste des commentaires:</h3>

		            	{% for com in oneTeam.comment %}         
		            		Username : {{ com.author }}<br>
		            		Titre : {{ com.title }}<br>
		            		Date : {{ com.dateCreated | date('d-m-Y H:i') }}<br>
		            		Commentaire : {{ com.content }}<br><br>
		            	{% endfor %}<br><br>

		        </div>
			              	       		
			</div>
		</div>
		
	{% endblock %}