{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">
              		
					<h2> <a href="#">{{ oneTeam.name }}</a></h2>

			        	<p class="lead">
			                by <a href="index.php">{{ oneTeam.sportPracticed }}</a>
			            </p>
			            <p><span class="glyphicon glyphicon-time"></span>{{ oneTeam.dateCreated | date('d-m-Y H:i:s')}}</p>
			                <hr>
			            <img class="img-responsive" src="http://placehold.it/900x300" alt="">
			                <hr>
			            <p>{{ oneTeam.typeOfGame }}</p><br>
			            <p>{{ oneTeam.habitsOfGame }}</p><br>

			            <a href="{{ path('front_office_team_addUser',{id:oneTeam.id}) }}">Rejoins l'équipe !</a><br><br>

			        <h3>Les joueurs :</h3>
			        				    
			        	<div class="container">
                			<div class="well col-lg-5">

                    			<h3 class="page-header">

                    				{% for user in oneTeam.users %}

                    					{{ user.username }}

                    						{% for sport in user.sportPracticed %}
                    							 <small>SPORT : {{ sport.name }}</small>
                    						{% endfor %}			                      
			                           			                     
                        				<small>AGE : {{ user.age }} ans</small><br>

                        			{% endfor %}
                        			{# <a href="{{ path('front_office_team_user_delete',{id:oneTeam.id}) }}">Quitter l'équipe</a> #}

                    			</h3>

                			</div>
            			</div>		       
			                			            
			            {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                <a class="btn btn-primary" href="{{ path('back_office_team_delete',{id:oneTeam.id}) }}">Suppression team<span class="glyphicon glyphicon-chevron-right"></span></a>
			            {% endif %}	    		             
			                
		                	<hr>	                   			               			         
			              	       		
			</div>
		</div>
		
	{% endblock %}