{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">
            <div class="well col-lg-10">             
		
					<h2> Liste des teams </h2>

						{% for tea in showTeams %}

			                <h2>
			                    <a href="#">{{ tea.name }}</a>
			                </h2>
			                <p class="lead">
			                    by <a href="index.php">{{ tea.sportPracticed }}</a>
			                </p>
			                <p><span class="glyphicon glyphicon-time"></span> {{ tea.dateCreated | date('d-m-Y H:i:s')}}</p>
			                <hr>
			                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
			                <hr>
			                <p>{{ tea.typeOfGame }}</p><br>
			                  <p>{{ tea.habitsOfGame }}</p><br>
			                			            
				                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
				                	<a class="btn btn-primary" href="{{ path('back_office_team_delete',{id:tea.id}) }}">Suppression team<span class="glyphicon glyphicon-chevron-right"></span></a>
				                {% endif %}
			                
		                	<hr>

		                	<a class="btn btn-primary" href="{{ path('front_office_team_one',{id:tea.id}) }}">Détails:<span class="glyphicon glyphicon-chevron-right"></span></a>

	            		{% endfor %}

	            </div>			
			</div>
		</div>
		
	{% endblock %}