{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        
    		<div style="margin-top:45px;" class="container">
                <div class="well col-lg-10">

                    <h1 class="page-header">{{ user.username}}</h1><br>

                       
                            SPORT PRATIQUE :

                                {% for sport in user.sportPracticed %} 
                                    {{ sport.name  }}
                                {% endfor %}<br><br>                             
                        
                        
                            SPORTS EDITORIAUX :

                                {% for sport in user.sportViewed %} 
                                    {{ sport.name  }} 
                                {% endfor %}<br><br> 


                            AGE : {{ user.age }} ans<br><br> 

                          DATE D'INSCRIPTION : {{ user.dateCreated | date('d-m-Y') }}<br>                            
                </div>
            </div>
        
        <!-- /.row -->

	{% endblock %}