{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div style="margin-top:45px;" class="container">
            <div class="well col-lg-12">    

                <div class="container"> 

                    <h3>Invitations envoyées :</h3>

                        {% for invit in invitationlaunched %}

                            Message : {{ invit.content }}<br>
                            Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                            Discipline : {{ invit.sport }}<br>
                            Mode : {{ invit.mode }}<br>
                            Ville : {{ invit.place }}<br>

                            {% if (invit.userTo) %}
                                Adversaire: {{ invit.userTo }}<br>
                            {% endif %}

                        {% endfor %}


                    <h3>Invitations acceptées :</h3>

                       {#  {% for invit in invitationAccepted %}

                            Message : {{ invit.content }}<br>
                            Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                            Discipline : {{ invit.sport }}<br>
                            Mode : {{ invit.mode }}<br>
                            Ville : {{ invit.place }}<br>

                            {% if (invit.userFrom) %}
                                Adversaire: {{ invit.userFrom }}<br>
                            {% endif %}

                        {% endfor %} #}


                    <h3>Invitations reçues :</h3>

                        {% for invit in invitationReceived %}

                            Message : {{ invit.content }}<br>
                            Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                            Discipline : {{ invit.sport }}<br>
                            Mode : {{ invit.mode }}<br>
                            Ville : {{ invit.place }}<br>

                            {% if (invit.userFrom) %}
                                Adversaire: {{ invit.userFrom }}<br>
                            {% endif %}

                        {% endfor %}

                   

                        {# {% for invit in app.user.invitationsReceived if invit.dateAccepted is not null %}

                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                        <small>{{ invit.content }}</small><br>
                                        <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                      
                                        <small>VILLE : {{ invit.place }} </small>  
                                        <small>MODE : {{ invit.mode }} </small><br>
                                    </h3>
                                    <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Détails de l'invitation</button></a>
                                    <a href="{{ path('front_office_invitation_deletefrom_monprofil', {id:invit.id}) }}"><button>Supprimer l'invitation</button></a>
                                </div>
                            </div>                            
                       
                        {% endfor %} #}

               {#  </div>

                <div class="container"> 

                    <h2>Invitations envoyées:</h2>

                        {% for invit in app.user.invitationsSent %}

                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                        <small>{{ invit.content }}</small><br>
                                        <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                      
                                        <small>VILLE : {{ invit.place }} </small>  
                                        <small>MODE : {{ invit.mode }} </small><br>
                                    </h3>
                                </div>
                            </div>

                            <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Détails de l'invitation</button></a>
                            <a href="{{ path('front_office_invitation_deletefrom_monprofil', {id:invit.id}) }}"><button>Supprimer l'invitation</button></a>
                       
                        {% endfor %}  
                </div> 

                <div class="container">            

                    <h2>Invit reçues :</h2>

                        {% for invit in invitation %}

                            <div style="margin-top:45px;" class="row">
                                <div class="col-lg-12">
                                    <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                        <small>{{ invit.content }}</small><br>
                                        <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                     
                                        <small>VILLE : {{ invit.place }} </small>  
                                        <small>MODE : {{ invit.mode }} </small><br>
                                    </h3>
                                </div>
                            </div>

                            <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Détails de l'invitation</button></a>
                            <a href="{{ path('front_office_invitation_response', {id:invit.id}) }}"><button>Accepter l'invitation<button></a>
                            <a href="{{ path('front_office_invitation_denied', {id:invit.id}) }}"><button>Refuser l'invitation</button></a>
                            <a href="{{ path('front_office_invitation_deletefrom_monprofil', {id:invit.id}) }}"><button>Supprimer l'invitation</button></a>

                        {% endfor %}

                </div>        

                <div class="container">     

                    <h2>Invit refusées</h2>

                        {% for invit in app.user.invitationsReceived if invit.dateDenied is not null %}

                            <div class="row">
                                <div class="col-lg-12">
                                    <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                        <small>{{ invit.content }}</small><br>
                                        <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                      
                                        <small>VILLE : {{ invit.place }} </small>  
                                        <small>MODE : {{ invit.mode }} </small><br>

                                        <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Détails de l'invitation</button></a>
                                    </h3>
                                </div>
                            </div>
                       
                        {% endfor %}

                </div>
               
            </div>
        </div>
         #}
        <!-- /.row -->

	{% endblock %}