{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div class="container">
            <div class="well col-lg-10">

                <h1>Invit de ton sport préféré :</h1>
                {% for invit in invitation %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                <small>{{ invit.content }}</small><br>
                                <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                         
                                <small>LIEU : {{ invit.place }} </small>  
                                <small>MODE : {{ invit.mode }} </small><br>
                            </h3>
                        </div>
                    </div>

                <a href="{{ path('front_office_invitation_response', {id:invit.id}) }}">Accepter l'invitation</a><br>
                <a href="{{ path('front_office_invitation_denied', {id:invit.id}) }}">Refuser l'invitation</a>

                {% endfor %}

                <h1>Invit acceptées</h1>
                {% for invit in app.user.invitationsReceived if invit.dateAccepted is not null %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                <small>{{ invit.content }}</small><br>
                                <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                         
                                <small>LIEU : {{ invit.place }} </small>  
                                <small>MODE : {{ invit.mode }} </small><br>
                            </h3>
                        </div>
                    </div>
               
                {% endfor %}

                 <h1>Invit envoyees:</h1>
                {% for invit in app.user.invitationsSent %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                <small>{{ invit.content }}</small><br>
                                <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                         
                                <small>LIEU : {{ invit.place }} </small>  
                                <small>MODE : {{ invit.mode }} </small><br>
                            </h3>
                        </div>
                    </div>
               
                {% endfor %}              

                <h1>Invit reçues et non acceptées :</h1>
                {% for invit in app.user.invitationsReceived if invit.dateAccepted is null and invit.dateDenied is null %}

            		<div class="row">
                        <div class="col-lg-12">
                            <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                <small>{{ invit.content }}</small><br>
                                <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                         
                                <small>LIEU : {{ invit.place }} </small>  
                                <small>MODE : {{ invit.mode }} </small><br>
                            </h3>
                        </div>
                    </div>

                    <a href="{{ path('front_office_invitation_response', {id:invit.id}) }}">Accepter l'invitation</a><br>
                    <a href="{{ path('front_office_invitation_denied', {id:invit.id}) }}">Refuser l'invitation</a>

               
                {% endfor %}

                <h1>Invit refusées</h3>
                {% for invit in app.user.invitationsReceived if invit.dateDenied is not null %}

                    <div class="row">
                        <div class="col-lg-12">
                            <h3 >{{ invit.userFrom}} vous invite à jouer au {{ invit.sport }}<br>
                                <small>{{ invit.content }}</small><br>
                                <small>DATE : {{ invit.dateInvit | date('d-m-Y H:i') }}</small>                         
                                <small>LIEU : {{ invit.place }} </small>  
                                <small>MODE : {{ invit.mode }} </small><br>
                            </h3>
                        </div>
                    </div>
               
                {% endfor %}
               
            </div>
        </div>
        
        <!-- /.row -->

	{% endblock %}