{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

	    <div style="margin-top:45px;" class="container">

	        <div class="row">	 

	        	<div class="well col-lg-8">

		        	<h2>Mes tournois</h2> 

		        		{% if (app.user.tournament is not empty) %} 

			        		{% for tournament in app.user.tournament %}
			        			<strong>{{ tournament.name }}</strong><br>
			        			{{ tournament.sport }}<br>
				         		{{ tournament.place }}<br>
				         		{{ tournament.region }}<br>
				         		{{ tournament.dateBegining | date('d-m-Y H:i:s') }}<br>
				         		{{ tournament.dateEnding | date('d-m-Y H:i:s') }}<br>
				         		{{ tournament.description }}<br><br>

				         		<h4>Equipes participantes:</h4>

				         			{% for team in tournament.teams %}
				         				<a href="{{ path('front_office_team_one',{id:team.id}) }}">{{ team.name }}</a><br>
				         			{% endfor %}


				         			{% if (tournament.current) %}		         			
				         				<p>Tournoi en cours !</p>
				         				<a href="{{ path('front_office_matche_new')}}">Ajoute un match !</a>
				         			{% elseif (tournament.played) %}
				         				<p>Ce tournoi est terminé !</p>
				         			{% elseif (tournament.playedFuture) %}
				         				<p>Tournoi planifié !</p>
				         				<a href="{{ path('front_office_matche_myProfilList',{id:tournament.id}) }}">Détail des matchs !</a>
				         			{% endif %}

				         			<hr>
			         			
				         		<a href="{{ path('front_office_tournament_update',{id:tournament.id}) }}">Mettre à jour</a>

				         		<hr/>

				         	{% endfor %}	

				        {% else %}	                	               

				        	<p>Vous n'êtes inscrit à aucun tournoi !</p>

				        {% endif %}

				</div>

				<div class="well col-lg-4">

						<a href="{{ path('front_office_user_showFriends') }}">Voir mes amis</a><br><br>
	                	<a href="{{ path('front_office_user_invitations') }}">Voir mes invitations</a><br><br>
	                	<a href="{{ path('front_office_user_showTeams') }}">Voir mes équipes</a><br><br>
	                	<a href="{{ path('front_office_user_showArticles') }}">Voir mes articles</a><br><br>
	                	<a href="{{ path('front_office_user_showTournaments') }}">Voir mes tournois</a><br><br>
	                	<a href="{{ path('front_office_user_showMatches') }}">Voir mes matches</a><br><br>

				        <hr />			

			    </div>	
			         			           
    		</div>

    	</div>

    {% endblock %}

   
