{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div class="container">
            <div class="well col-lg-10">

                <h2>Mes amis</h2>

                {% for message in app.session.flashbag.get('succes') %}
                    {{ message }}
                {% endfor %}

                {% for friend in app.user.friend %}
            		<div class="row">
                        <div class="col-lg-12">

                            <h1 class="page-header">{{ friend.username}}

                                {% for sport in friend.sportPracticed %}
                                    <small>SPORT : {{ sport.name }}</small>
                                {% endfor %}

                                    <small>AGE : {{ friend.age }} ans</small>
                            </h1>

                            <a href="{{ path('front_office_user_getOutFriend',{id:friend.id}) }}">Retirer ce joueur de la liste d'amis</a>
                            
                        </div>
                    </div>

                    <a href="{{ path('front_office_user_one',{id:friend.id}) }}">Voir son profil</a>
                {% endfor %}

            </div>
        </div>
        
        <!-- /.row -->

	{% endblock %}