{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div style="margin-top:45px;" class="container">

            <div class="row">    

                <div class="well col-lg-8">

                    <h3>Invitations envoyées :</h3>

                        {% if (invitationlaunched is not empty) %}

                            {% for invit in invitationlaunched %}

                                Message : {{ invit.content }}<br>
                                Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                                Discipline : {{ invit.sport }}<br>
                                Mode : {{ invit.mode }}<br>
                                Ville : {{ invit.place }}<br>                                

                                {% if (invit.userTo) %}
                                    Adversaire: <a href="{{ path('front_office_user_one',{id:invit.userTo.id}) }}">{{ invit.userTo }}</a><br>
                                {% endif %}

                                {% if (invit.teamTo) %}
                                    Equipe adverse:<a href="{{ path('front_office_team_one',{id:invit.teamTo.id}) }}"> {{ invit.teamTo }}</a><br>
                                {% endif %}<br>

                            {% endfor %}

                        {% else %}

                            <p>Vous n'avez envoyé aucune invitation !</p>

                        {% endif %}


                    <h3>Invitations acceptées :</h3>

                        {% if (invitationsAccepted is not empty) %}

                            {% for invit in invitationsAccepted %}

                                Message : {{ invit.content }}<br>
                                Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                                Discipline : {{ invit.sport }}<br>
                                Mode : {{ invit.mode }}<br>
                                Ville : {{ invit.place }}<br>

                                {% if (invit.userFrom) %}
                                    Adversaire:<a href="{{ path('front_office_user_one',{id:invit.userFrom.id}) }}">{{ invit.userFrom }}</a><br>
                                {% endif %}

                                <a href="{{ path('front_office_invitation_denied', {id:invit.id}) }}"><button>Refuser l'invitation</button></a>

                                <hr>

                            {% endfor %}

                        {% else %}

                            <p>Vous n'avez encore accepté aucune invitation !</p>

                        {% endif %}


                    <h3>Invitations reçues :</h3>

                        {% if (invitationReceived is not empty) %}

                            {% for invit in invitationReceived %}

                                Message : {{ invit.content }}<br>
                                Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                                Discipline : {{ invit.sport }}<br>
                                Mode : {{ invit.mode }}<br>
                                Ville : {{ invit.place }}<br>

                                {% if (invit.userFrom) %}
                                    Adversaire:<a href="{{ path('front_office_user_one',{id:invit.userFrom.id}) }}">{{ invit.userFrom }}</a><br>
                                {% endif %}

                                <a href="{{ path('front_office_invitation_response',{id:invit.id})}}"><button>Accepter l'invitation</button></a>                               
                                <a href="{{ path('front_office_invitation_denied', {id:invit.id}) }}"><button>Refuser l'invitation</button></a>
                                <a href="{{ path('front_office_invitation_deletefrom_monprofil', {id:invit.id}) }}"><button>Supprimer l'invitation</button></a>

                            <hr>

                            {% endfor %}

                        {% else %}

                            <p>Vous n'avez aucune invitation en attente! <a href="{{ path('front_office_users_list')}}">Faîtes-vous des amis</a>

                        {% endif %}

                    <h3> Invitations refusées</h3>

                        {% if invitationDenied is not empty %}

                            {% for invit in invitationDenied %}

                                Message : {{ invit.content }}<br>
                                Date : {{ invit.dateInvit | date('d-m-Y H:i:s') }}<br>
                                Discipline : {{ invit.sport }}<br>
                                Mode : {{ invit.mode }}<br>
                                Ville : {{ invit.place }}<br>

                                {% if (invit.userFrom) %}
                                    Adversaire: <a href="{{ path('front_office_user_one',{id:invit.userFrom.id}) }}">{{ invit.userFrom }}</a><br>
                                {% endif %}
                                                                                                 
                                <a href="{{ path('front_office_invitation_deletefrom_monprofil', {id:invit.id}) }}"><button>Supprimer l'invitation</button></a>

                                <hr>

                            {% endfor %}

                        {% else %}

                            <p>Vous n'avez aucune invitation refusée !</p>

                        {% endif %}

                </div>

                <div class="well col-lg-4">

                        <a href="{{ path('front_office_user_showFriends') }}">Voir mes amis</a><br><br>
                        <a href="{{ path('front_office_user_invitations') }}">Voir mes invitations</a><br><br>
                        <a href="{{ path('front_office_user_showTeams') }}">Voir mes équipes</a><br><br>
                        <a href="{{ path('front_office_user_showArticles') }}">Voir mes articles</a><br><br>
                        <a href="{{ path('front_office_user_showTournaments') }}">Voir mes tournois</a><br><br>
                        <a href="{{ path('front_office_user_showMatches') }}">Voir mes matches</a><br><br>

                        <hr />          

                </div>  

            </div>

        </div>

	{% endblock %}