{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div style="margin-top:45px;" class="container">

            <div class="row">    

                <div class="well col-lg-8">

					<h2>Mes rencontres :</h2>

						{% if app.user.matche is not empty  %}

							{% for mat in  app.user.matche %}
								Sport: {{ mat.sport }}<br>
								Date: {{ mat.dateplay | date('d-m-Y H:i:s') }}<br>
								Lieu: {{ mat.place }}<br>
								Mode: {{ mat.mode }}<br>
								Joueurs: {% for play in mat.players %}
											 <a href="{{ path('front_office_user_one',{id:play.id}) }}">{{ play.username }}</a>           						            	
								          {% endfor %}

								{% if (mat.ground) %}
									<br>
									Terrain: {{ mat.ground }}
								{% endif %}
								<hr>
							
							{% endfor %}							
								{{ form(form) }}
						{% else %}

							<p>Vous n'avez aucun match planifié ! Sélectionnez une invitation et acceptez-la pour créer automatiquement un match.</p>

						{% endif %}

				</div>		

				<div class="well col-lg-4">

			            <a href="{{ path('front_office_user_showFriends') }}">Voir mes amis</a><br><br>
			            <a href="{{ path('front_office_user_invitations') }}">Voir mes invitations</a><br><br>
			            <a href="{{ path('front_office_user_showTeams') }}">Voir mes équipes</a><br><br>
			            <a href="{{ path('front_office_user_showArticles') }}">Voir mes articles</a><br><br>
			            <a href="{{ path('front_office_user_showTournaments') }}">Voir mes tournois</a><br><br>
			            <a href="{{ path('front_office_user_showMatches') }}">Voir mes matches</a><br><br>

			            <hr />          

			    </div>  

	{% endblock %}