{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

	    <div style="margin-top:45px;" class="container">

	        <div class="row">	 

	        	<h2>Mes tournois</h2>  

	        		{% for tournament in app.user.tournament %}
	        			<strong>{{ tournament.name }}</strong><br>
		         		{{ tournament.place }}<br>
		         		{{ tournament.dateBegining | date('d-m-Y H:i:s') }}<br>
		         		{{ tournament.dateEnding | date('d-m-Y H:i:s') }}<br>
		         		{{ tournament.description }}<br>

		         			{% if (tournament.current) %}		         			
		         				<p>Tournoi en cours !</p>
		         				<a href="{{ path('front_office_matche_new')}}">Ajoute un match !</a>
		         			{% elseif (tournament.played) %}
		         				<p>Ce tournoi est terminé !</p>
		         			{% elseif (tournament.playedFuture) %}
		         				<p>Tournoi planifié !</p>
		         				<a href="{{ path('front_office_matche_new',{id:tournament.id}) }}">Prévois un match !</a>
		         			{% endif %}

		         			<hr>

		         			<h4>Matches</h4>

			         			{% for mat in tournament.matche %}
			         				{{ mat.place }}<br>
			         				{{ mat.organizer }}<br>
			         				{{ mat.dateplay | date('d-m-Y H:i:s') }}<br>

			         					{% if (mat.played) %}
			         						{{ mat.played }}<br>
			         					{% elseif (mat.playedFuture) %}
			         						{{ mat.playedFuture }}<br>
			         					{% endif %}
			         			{% endfor %}

		         			<h4>Equipes</h4>

		         				{% for team in tournament.teams %}
		         					<a href="{{ path('front_office_team_one',{id:team.id}) }}">{{ team.name }}</a><br>
		         					{{ team.sportPracticed }}<br>
		         					{{ team.place }}<br>
		         					{{ team.typeOfGame }}<br>
		         					{{ team.habitsOfGame }}<br>		         					
		         				{% endfor %}

		         		<a href="{{ path('front_office_tournament_update',{id:tournament.id}) }}">Mettre à jour</a>

		         		<hr/>

		         	{% endfor %}		                	               
		         			           
    		</div>

    	</div>

    {% endblock %}

   
