{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}
		
			<div style="margin-top:45px;" class="container">
				<div class="row">


	            	<div class="well col-lg-8">

						<h2> Mon Profil :</h2>

						  {% for message in app.session.flashbag.get('creaMatch') %}
				        	{{ message }}
				        {% endfor %}

				        {% for messa in app.session.flashbag.get('annuMatch') %}
				        	{{ messa }}
				        {% endfor %}

						<img src="{{ asset(user.image) }}" width=100 />

				        {{ form(form) }}	

				        {# 

				        {{ form_start(form)}} 
							{{ form_row(form.username) }}
							{{ form_row(form.region) }}
				        {{ form_end(form)}} 

				        #}			      
				          	                
			            <hr/>	

		            </div>
					<div class="well col-lg-4">

						<a href="{{ path('front_office_user_showFriends') }}">Voir mes amis</a><br><br>
	                	<a href="{{ path('front_office_user_invitations') }}">Voir mes invitations</a><br><br>
	                	<a href="{{ path('front_office_user_showTeams') }}">Voir mes équipes</a><br><br>
	                	<a href="{{ path('front_office_user_showArticles') }}">Voir mes articles</a><br><br>
	                	<a href="{{ path('front_office_user_showTournaments') }}">Voir mes tournois</a><br><br>
	                	<a href="{{ path('front_office_user_showMatches') }}">Voir mes matches</a><br><br>

				        <hr />			

			        </div>	

	            </div>          	
			</div>			 
		
	{% endblock %}