{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div id="page-wrapper">
			
            <div class="row">

            	<h2 style="text-align:center;">Statistiques Teams:</h2>

                <div class="col-lg-4">
		
                	<h4>Teams classés par le nombre d'invitations envoyées:</h4>

						<div class="container">

							<ul>
								{% for team in teamsByInvitationsSent %}
									<li>L'équipe des {{ team.name }} a envoyé {{ team.nb }} {% if team.nb >1 %} invitations.{% else %} invitation. {% endif %}</li><br>
								{% endfor %}<br>
							</ul>
							
						</div>

				</div>	

				<div class="col-lg-4">
		
                	<h4>Teams classés par le nombre d'invitations reçues:</h4>

						<div class="container">

							<ul>
								{% for team in teamsByInvitationsReceived %}
									<li> L'équipe des {{ team.name }}  a reçu {{ team.nb }} {% if team.nb >1 %} invitations.{% else %} invitation.{% endif %}</li><br>
								{% endfor %}<br>
							</ul>
							
						</div>

				</div>	

				<div class="col-lg-4">
		
                	<h4>Teams classés par matches gagnés:</h4>

						<div class="container">

							<ul>
								{% for team in teamsByMatchesWinned %}
									<li> L'équipe des {{ team.name }}  a gagné {{ team.nb }} {% if team.nb >1 %} matches.{% else %} matche.{% endif %}</li><br>
								{% endfor %}<br>
							</ul>
							
						</div>

				</div>

			</div>				  

        </div>

    {% endblock %}