{% extends 'FrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-md-8">

                   {#  <h1 class="page-header">
                        Sports Web
                        <small><a href="{{ path('front_office_blog_homepage') }}">Blog :</a></small>
                    </h1>
 #}
                <!-- Blog Post -->

                    {% for message in app.session.flashbag.get('succes') %}
                        <div class="container">
                            <div class="row">
                                <h4>{{ message }}</h4>
                    {% endfor %}

                    {% for messa in app.session.flashbag.get('articlecrea') %}
                        <div class="container">
                            <div class="row">
                                <h4>{{ messa }}</h4>
                    {% endfor %}

                <!-- Title -->
                    {% for article in articles %}
    	                <h1><a href="{{ path('front_office_blog_one',{id:article.id}) }}">{{ article.title }}</h1></a>

    	                <!-- Author -->
    	                <p class="lead">
    	                    by {% for art in article.author %}{{ art.username }}{% endfor %}</a>
    	                </p>

    	                <hr>

    	                <!-- Date/Time -->
    	                <p><span class="glyphicon glyphicon-time"></span>Poste le : {{ article.dateCreated | date('d-m-Y H:i:s') }} </p>
{# 
    	                <hr>

    	                <!-- Preview Image -->
    	                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
 #}
    	                <hr>

    	                <!-- Post Content -->
    	                <p class="lead">{{ article.content }}</p><br><br>
                        
    	                <hr>
                    {% endfor %}
            	                      
                         
                    <div class="well">

                        {% if (is_granted('ROLE_USER')) %}
                            <h4>Editer un article</h4>
                            {{ form(formArticle) }}
                        {% else %}
                            <p>Vous souhaitez publier un article ? Connectez-vous !</p>
                            <a href="{{path('fos_user_security_login')}}"><button>Connection</button></a>
                        {% endif %}
                        
                    </div> 
                     
                </div>  

                <div class="col-md-4">

                    <!-- Blog Search Well -->
                   {#  <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div> #}

                    <!-- Blog Categories Well -->
                    <div class="well">

                        <h4>Blog Categories</h4>

                            <div class="row">

                                {% for sport in sports %}

                                    <ul class="list-unstyled">                                    
                                        <li><a href="{{ path('front_office_blog_triBySport',{sport:sport}) }}">{{sport.name}}</a></li> 
                                    </ul>

                                {% endfor %}  

                            </div>

                     </div>  

                </div> 

            </div>

        </div>

    {% endblock %}
                
          


	