{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

        <div class="container">

            <div class="row">

                <!-- Blog Post Content Column -->
                <div class="col-lg-8">

                    <h1 class="page-header">
                        Sports Web
                        <small><a href="{{ path('front_office_blog_homepage') }}">Blog :</small>
                    </h1>

                    <!-- Blog Post -->

                    <!-- Title -->
                    <h1>{{ article.title }}</h1>

                    <!-- Author -->
                    <p class="lead">
                        by {% for art in article.author %}<a href="{{ path('front_office_user_one',{id:art.id}) }}">{{ art.username }}{% endfor %}</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> {{ article.dateCreated | date('d-m-Y H:i:s')}}</p>

                    <hr>

                    <!-- Preview Image -->
                    <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                    <hr>

                    <!-- Post Content -->
                    <p class="lead">{{ article.content }}</p>

                    <hr>

                    <!-- Blog Comments -->

                    <!-- Comments Form -->
                    {% if (is_granted('ROLE_USER')) %}
                        <div class="well">
                            <h4>Publier un post:</h4>
                                {{ form(form) }}
                        </div>
                    {% else %}
                    
                        <p>Vous souhaitez publier un commentaire ?<a href="{{ path('fos_user_security_login') }}">Connectez-vous !</a>
                    {% endif %}

                    
                    <hr>
                   
                    <!-- Posted Comments -->

                    {% for message in app.session.flashbag.get('succes') %}
                        <p>{{ message }}</p>
                    {% endfor %}

                    <!-- Comment -->
                    {% for com in article.comment %}
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{ com.title }} par {{ com.author }}
                                    <small>{{ com.dateCreated | date('d-m-Y H:i:s') }}</small>
                                </h4>
                                {{ com.content }}
                            </div>
                        </div>
                    {% endfor %}  
                    
                </div>

                 <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>Blog Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">

                        <h4>Blog Categories</h4>

                            <div class="row">

                                {% for sport in sports %}

                                    <ul class="list-unstyled">                                    
                                        <li><a href="{{ path('front_office_blog_triBySport',{sport:sport}) }}">{{sport.name}}</a></li> 
                                    </ul>

                                {% endfor %}  

                            </div>

                    </div>  

                </div>         

            </div>

        </div>

    {% endblock %}
