{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

	    <div class="container">

	        <div class="row">

	            <!-- Blog Entries Column -->
	            <div class="col-md-8">

	                <h1 class="page-header">
	                    Sports Web
	                    <small><a href="{{ path('front_office_blog_homepage') }}">Blog :</small>
	                </h1>

	                <!-- First Blog Post -->
	                {% for art in articles %}
		                <h2>
		                    <a href="{{ path('front_office_blog_one',{id:art.id}) }}">{{ art.title }}</a>
		                </h2>
		                <p class="lead">
		                    by <a href="index.php">{{ art.author }}</a>
		                </p>
		                <p><span class="glyphicon glyphicon-time"></span> {{ art.dateCreated | date('d-m-Y H:i:s')}}</p>
		                <hr>
		                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
		                <hr>
		                <p>{{ art.content }}</p>
		               
		                <hr>
	            	{% endfor %}

	               

	                <!-- Pager -->
	                <ul class="pager">
	                    <li class="previous">
	                        <a href="#">&larr; Older</a>
	                    </li>
	                    <li class="next">
	                        <a href="#">Newer &rarr;</a>
	                    </li>
	                </ul>

	            </div>

	            {% block sidebar %}

    				{{ include('FrontOfficeBundle:Blog:sidebar.html.twig') }}

    			{% endblock %}

    		</div>

    	</div>

    {% endblock %}

   