{% extends 'FrontOfficeBundle::layout.html.twig' %}

    {% block content %}

     	<section style="margin-top:45px;">
        	<div class="container">
                <div class="row">
     				<h1 style="text-align:center;margin-top:-50px;margin-bottom:-45px;">{# {% if(is_granted('ROLE_USER')) %} Bienvenue {{ app.user.username}} {% endif %} #} Sports Web - Trouve tes partenaires :</h1>

     			</div>
     		</div>
     	</section>
        <!-- Image backgrounds are set within the full-width-pics.css file. -->
        <header>
            <img class="img-responsive img-center" src="../images/football.jpg" style="width:1140px;height:800px;" alt="football">
        </header>

        <!-- Content Section -->
             <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            
                            {# Message flash lors de l'acceptation d'une invit #}
                            {% for message in app.session.flashbag.get('repon') %}
                                <p>{{ message }}</p>
                            {% endfor %}
                            
                            {# Message flashbag lors de l'envoi d'un message à l'admin #}
                            {% for messag in app.session.flashbag.get('info') %}
                                <p>{{ messag }}</p>
                            {% endfor %}

                            {# Message lors de la creation d'un tournoi #}
                            {% for messa in app.session.flashbag.get('creatournoi') %}
                                {{ messa }}
                            {% endfor %}

                            
                        </div>
                    </div>
                </div>

        {% if (is_granted('ROLE_USER')) %}

            <!-- Content Section -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">

                            {#  Message flashbag lors de la creation d'une invit #}
                            {% for message in app.session.flashbag.get('succes') %}
                                <p>{{ message }}</p>
                            {% endfor %}                            

                            <h3 class="section-heading" style="padding-top:20px;">Voir les invitations de {{ app.user.favouriteSport }} :</h3>

                                {% for invit in invitForConnectedUser %}    
                                    
                                    <p class="lead section-lead">{{ invit.dateInvit | date('d-m-Y H:i') }} à {% if (invit.ground) %} {{ invit.ground}} {% else %} {{ invit.place}} {% endif %}.</p><br>
                                    <p class="section-paragraph">{{ invit.content }}</p><br>

                                    <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Voir cette invitation</button></a>

                                    <a href="{{ path('front_office_invitation_response',{id:invit.id}) }}"><button>Accepter l'invitation</button></a>
                                    
                                    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                                        <a href="{{ path('front_office_invitation_delete',{id:invit.id}) }}"><button>Supprimer cette invitation</button></a>
                                    {% endif %}                                    

                                {% endfor %}

                                <hr>

                            <h3 class="section-heading" style="padding-top:20px;">Sélectionner les invitations {% for sport in app.user.sportPracticed %}{{ sport.name }} {% endfor %} :</h3>
                               
                               {#  {% for invit in invitationsBySportPracticed %}

                                    <p class="lead section-lead">{{ invit.dateInvit | date('d-m-Y H:i') }} à {% if (invit.ground) %} {{ invit.ground}} {% else %} {{ invit.place}} {% endif %}.</p><br>
                                    <p class="section-paragraph">{{ invit.content }}</p><br>

                                    <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}"><button>Voir cette invitation</button></a>

                                    <a href="{{ path('front_office_invitation_response',{id:invit.id}) }}"><button>Accepter l'invitation</button></a>
                                    
                                    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                                        <a href="{{ path('front_office_invitation_delete',{id:invit.id}) }}"><button>Supprimer cette invitation</button></a>
                                    {% endif %}

                                {% endfor %} #}

                                <hr>
                                   
                        </div>
                    </div>
                </div>               
            </section>

        {% else %}           

            <!-- Content Section -->
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">                           
                            <h3 class="section-heading" style="padding-top:20px;">Sélectionner les invitations :</h3>
                                {{ form(form) }}

                                <hr>

        	                    {% for invit in allInvit %} 

        		                    <p class="section-paragraph">{{ invit.content }}</p>
        		                    <p class="lead section-lead">{{ invit.dateInvit | date('d-m-Y H:i') }} à {% if (invit.ground) %} {{ invit.ground}} {% else %} {{ invit.place}} {% endif %}.</p><br>
                                    <a href="{{ path('front_office_invitation_one',{id:invit.id}) }}">Détail</a>
                                    
                                    {% if (is_granted('ROLE_USER')) %}
                                        <a href="{{ path('front_office_invitation_response',{id:invit.id}) }}"><button>Accepter l'invitation</button></a>
                                    {% endif %}
                                    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                                        <a href="{{ path('front_office_invitation_delete',{id:invit.id}) }}"><button>Supprimer cette invitation</button></a>
                                    {% endif %}

        		                {% endfor %}
        		                   
                        </div>
                    </div>
                </div>               
            </section>

        {% endif %}

   {% endblock %}