<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sports Web - Foot - Basket</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset('css/full-width-pics.css') }}" rel="stylesheet">
    <link href="{{ asset('css/blog-post.css') }}" rel="stylesheet">
    <link href="{{ asset('css/blog-home.css') }}" rel="stylesheet">
    <link href="{{ asset('css/3-col-portfolio.css') }}" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('front_office_homepage') }}">SPORTS WEB Bienvenue {% if(is_granted('ROLE_USER')) %}{{ app.user.username }} {% endif %}</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                        <li>
                            <a href="{{ path('back_office_homepage') }}">Back Office</a>
                        </li>
                    {% endif %}

                    {% if (is_granted('ROLE_USER')) %}
                        <li>
                            <a href="{{ path('front_office_invitation_new') }}">Lance une Invitation</a>
                        </li>
                        <li>
                            <a href="{{ path('front_office_team_new') }}">Crée ton équipe</a>
                        </li>
                        <li>
                            <a href="{{ path('fos_user_security_logout') }}">Déconnection</a>
                        </li>
                        <li>
                        <a href="{{ path('front_office_user_update') }}">Mon Profil</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('fos_user_security_login') }}">Connectez-vous</a>
                        </li>
                        <li>
                        <a href="{{ path('fos_user_registration_register') }}">Créer un compte</a>
                        </li>
                    {% endif %}

                    <li>
                        <a href="{{ path('front_office_blog_homepage') }}">Blog</a>
                    </li>                
                    <li>
                        <a href="{{ path('front_office_users_list') }}">Derniers joueurs inscrits</a>
                    </li>
                    <li>
                        <a href="{{ path('front_office_team_list') }}">Dernières équipes inscrites</a>
                    </li>
                    {# <li>
                        <a href="{{ path('fos_user_change_password') }}">Changement password</a>
                    </li> #}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   {% block content %}

   {% endblock %}

   {% block sidebar %}

   {% endblock %}
     <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p style="text-align:center">Copyright &copy; Your Website 2014</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-2">
                    <a href="{{ path('front_office_static_cgu') }}">Conditions Générales d'Utilisation</a>
                </div>
                <div class="col-lg-4 col-md-2">
                    <a href="{{ path('front_office_static_mentions') }}">Mentions Légales</a>
                </div>
                 <div class="col-lg-4 col-md-2">
                    <a href="{{ path('front_office_static_contact') }}">Contact</a>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

</body>

</html>
