{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
		
					<h2> Liste des articles non-controlés :</h2>

						{% for art in article %}

							{% for message in app.session.flashbag.get('supp') %}
								{{ message }}
							{% endfor %}

			                <h2>
			                    <a href="#">{{ art.title }}</a>
			                </h2>
			                <p class="lead">
			                    by <a href="index.php">{% for at in art.author %}{{ at.username }}{% endfor %}</a>
			                </p>
			                <p><span class="glyphicon glyphicon-time"></span> {{ art.dateCreated | date('d-m-Y H:i:s')}}</p>
			                <hr>
			                <img class="img-responsive" src="http://placehold.it/900x300" alt="">
			                <hr>
			                <p>{{ art.content }}</p>
			                <a class="btn btn-primary" href="{{ path('back_office_article_response',{id:art.id}) }}">OK Admin <span class="glyphicon glyphicon-chevron-right"></span></a>

			                <a class="btn btn-primary" href="{{ path('back_office_article_warnedArticle',{id:art.id}) }}">Avertissement<span class="glyphicon glyphicon-chevron-right"></span></a>

			                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                	<a class="btn btn-primary" href="{{ path('back_office_article_delete',{id:art.id}) }}">	Suppression Article<span class="glyphicon glyphicon-chevron-right"></span></a>
			            	{% endif %}
			            	
		                	<hr>

	            		{% endfor %}

	        	</div>			
			</div>
		</div>
		
	{% endblock %}