{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div id="page-wrapper">
            <div class="row">

            	<h2 style="text-align:center;">Statistiques Articles :</h2>

                <div class="col-lg-4">
		
                	<h4>Nombre d'articles par Sport :</h4>

						<div class="container">

							<ul>
								{% for sport in articlesBySport %}<li>
									{{ sport.name }} est l'objet de {{ sport.nb }} {% if sport.nb >1 %} articles {% else %} article {% endif %}</li>
								{% endfor %}
							</ul>

						</div>

				</div>				

                <div class="col-lg-4">
		
                	<h4>Liste des Users ayant posté le plus grand nombre d'articles :</h4>

						<div class="container">

							<ul>
								{% for user in articlesByUsers %}<li>
									{{ user.username }} a écrit {{ user.nb }} {% if user.nb >1 %} articles {% else %} article {% endif %}</li>
								{% endfor %}
							</ul>

						</div>

				</div>

				<div class="col-lg-4">
		
                	<h4>Liste des Articles les plus commentés :</h4>

						<div class="container">

							<ul>
								{% for arti in articlesByComment %}<li>
									{{ arti.title }} a reçu {{ arti.nb }} {% if arti.nb >1 %} commentaires {% else %} commentaire {% endif %}</li>
								{% endfor %}
							</ul>

						</div>

				</div>																	

			</div>
		</div>

	{% endblock %}