{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">

                	{# Message lors de la censure d'un commentaire #}
					{% for message in app.session.flashbag.get('notice') %}
						{{ message }}
					{% endfor %}

					{% for messa in app.session.flashbag.get('delete') %}
						{{ messa }}
					{% endfor %}

					{% for mess in app.session.flashbag.get('valid') %}
						{{ mess }}
					{% endfor %}


		
					<h2> Liste des commentaires non-controlés : Team</h2>						

						{% for com in commentsTeam %}

			                <h5>
			                    {{ com.title }}
			                </h5>
			                
			                    by <a href="index.php">{{ com.author }}</a>
			                
			                <p><span class="glyphicon glyphicon-time"></span> {{ com.dateCreated | date('d-m-Y H:i:s')}}</p><br>			                
			                <p>{{ com.content }}</p>
			                <a class="btn btn-primary" href="{{ path('back_office_comment_response',{id:com.id}) }}">OK Admin <span class="glyphicon glyphicon-chevron-right"></span></a>

			                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_censoreComment',{id:com.id}) }}">Censurer ce commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_delete',{id:com.id}) }}">	Suppression commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			            	{% endif %}

		                	<hr>

	            		{% endfor %}

	            	<h2> Liste des commentaires non-controlés : Article</h2>

						{% for com in commentsArticle %}

			                <h5>
			                    {{ com.title }}
			                </h5>
			                
			                    by <a href="index.php">{{ com.author }}</a>
			                
			                <p><span class="glyphicon glyphicon-time"></span> {{ com.dateCreated | date('d-m-Y H:i:s')}}</p><br>			                
			                <p>{{ com.content }}</p>
			                <a class="btn btn-primary" href="{{ path('back_office_comment_response',{id:com.id}) }}">OK Admin <span class="glyphicon glyphicon-chevron-right"></span></a>

			                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_censoreComment',{id:com.id}) }}">Censurer ce commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_delete',{id:com.id}) }}">	Suppression commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			            	{% endif %}

		                	<hr>

	            		{% endfor %}

	            	<h2> Liste des commentaires non-controlés : Ground</h2>

						{% for com in commentsGround %}

			                <h5>
			                    {{ com.title }}
			                </h5>
			                
			                    by <a href="index.php">{{ com.author }}</a>
			                
			                <p><span class="glyphicon glyphicon-time"></span> {{ com.dateCreated | date('d-m-Y H:i:s')}}</p><br>			                			              	     
			                <p>{{ com.content }}</p>
			                <a class="btn btn-primary" href="{{ path('back_office_comment_response',{id:com.id}) }}">OK Admin <span class="glyphicon glyphicon-chevron-right"></span></a>

			                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_censoreComment',{id:com.id}) }}">Censurer ce commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_delete',{id:com.id}) }}">	Suppression commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			            	{% endif %}

		                	<hr>

	            		{% endfor %}

	            	<h2> Liste des commentaires non-controlés : Tournois</h2>

						{% for com in commentsTournament %}

			                <h5>
			                    {{ com.title }}
			                </h5>
			                
			                    by <a href="index.php">{{ com.author }}</a>
			                
			                <p><span class="glyphicon glyphicon-time"></span> {{ com.dateCreated | date('d-m-Y H:i:s')}}</p><br>			                			              	     
			                <p>{{ com.content }}</p>
			                <a class="btn btn-primary" href="{{ path('back_office_comment_response',{id:com.id}) }}">OK Admin <span class="glyphicon glyphicon-chevron-right"></span></a>

			                {% if(is_granted('ROLE_SUPER_ADMIN')) %}
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_censoreComment',{id:com.id}) }}">Censurer ce commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			                	<a class="btn btn-primary" href="{{ path('back_office_comment_delete',{id:com.id}) }}">	Suppression commentaire<span class="glyphicon glyphicon-chevron-right"></span></a>
			            	{% endif %}

		                	<hr>

	            		{% endfor %}

	            </div>			
			</div>
		</div>
		
	{% endblock %}